<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/html">

    <head>
        <title>Login</title>
        <style>
            form{text-align: center;}
            h3{text-align: center;}
        </style>


    </head>

    <body>
        <div class="login">
            <h3>Login</h3>

            <form>
                <p>
                    <input type="text" name="email" placeholder="Email" size="25">
                </p>

                <p>
                    <input type="password" name="user_password" placeholder="Password" size="25">
                </p>

                <p>
                    <input type="submit" name="Login" value="Log In">
                </p>

            </form>
        </div>

    </body>

</html>



@main("Login") {


    @welcome("Login",style = "scala")

}