<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/html">

    <head>
        <title>SignUp</title>
        <style>
            form{text-align: center;}
            h3{text-align: center;}
        </style>


    </head>

    <body>

        <div class="signUp">
            <h3>Sign Up</h3>

            <form>
                <p>
                    <input type="text" name="username" placeholder="Username" size="25">
                </p>

                <p>
                    <input type="text" name="email" placeholder="Email" size="25">
                </p>

                <p>
                    <input type="password" name="user_password" placeholder="Password" size="25">
                </p>

                <p>
                    <input type="submit" name="Sign Up" value="Sign Up">
                </p>

            </form>
        </div>

    </body>

</html>